
#header {
  
    text-align:center;
    
}
a:link{ color:white;
background-color:transparent;
padding-left:1000px;
text-decoration:none;
}
h1
{font-size:90px;
padding:0px 160px 20px 160px;
}
h1 span.blue-text
{color:#C20351;
}
h3
{font-color:black;
}
h5 span.blue-text
{color:#C20351;
}
h4 span.blue-text
{font-size:30px;color:#A52A2A;
}
ul#menu li
{padding:0;
}
ul#menu li
{ 
  display:inline;
}
ul#menu li a
{ background-color:black;
  color:white;
padding:10px 40px;
 border-radius:4px 4px 0 0;
}
ul#menu li a:hover
{background-color:#E9967A;
}
#up
{margin-top:15px;
float:left;
background:white;
border-radius:5px;
border:5px solid brown;
padding:15px;
width:610px;
height:450px;
margin:0;
display:block;
}
section
{margin-top:15px;
float:right;
background:brown;
border-radius:5px;
border:5px solid white;
padding:15px;
width:630px;
margin:0;
display:block;
height:450px;
}
footer
{background-color:black;
 color:white;
 clear:both;
 text-align:center;
 padding:5px;

}
#date
{ font: 15px bold;
color:#C20351;
}
#ic
{ float:left;
padding-top:10px;
}
#twit
{float:left;
padding-top:10px;
}
#ic
{ float:left;
padding-top:10px;
}
.blue
{color:white;
font-size:30px;

}
.style11
{ color:white;
}
.style12
{ color:white;
}
#sign
{ color:white;
}
.label
{color:white;
font:30px;
}

#centeredmenu {
   float:left;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}
